<div class="col-md-5 offset-md-5">
  <%= form_for [:clerk, @ward] do |form| %>
    
    <% if ward.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(ward.errors.count, "error") %> prohibited this ward from being saved:</h2>

        <ul>
        <% ward.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :DEPARTMENT %>
      <%= form.select :department_id, Department.all.collect { |d| [ d.name, d.id ] }, include_blank: true %>

    </div>
    
    <div>
      <%= form.label :WARD %>
      <%= form.select :wards_name,['A','B','C','D','E']  %>

    </div>




   <div class="actions">
      <%= form.submit %>
    </div>

  <% end %>
</div>
