<p id="notice"><%= notice %></p>
<h3 class="table-dark col-md-4 offset-md-4 text-center">DATA</h3><br>
<div class="col-md-5 offset-md-5">

  <p>
    <strong>DEPARTMENT:</strong>
    <%= @ward.department.name %>
  </p>
   
  <p>
    <strong>WARD:</strong>
    <%= @ward.wards_name %>

  </p>



  <%= link_to 'Edit', edit_clerk_ward_path(@ward),class: "btn btn-outline-dark " %> 
  <%= link_to 'Back', clerk_wards_path ,class: "btn btn-outline-dark "%>
</div>
