<p id="notice"><%= notice %></p>
<h3 class="table-dark col-md-4 offset-md-4 text-center">DATA</h3><br>
<div class="col-md-5 offset-md-5">
  <p>
    <strong>NAME:</strong>
    <%= @stay.patient.name  %>
  </p>
   
  <p>
    <strong>Doctor:</strong>
    <%= @stay.doctor.name  %>

  </p>

  <p>
    <strong>Department:</strong>
    <%= @stay.ward.department.name %>

  </p>
  <p>
    <strong>WARD:</strong>
    <%= @stay.ward.wards_name %>

  </p>
  <p>
    <strong>Admission_Time:</strong>
    <%= @stay.a_time %>

  </p>


  <p>
    <strong>Discharge_Time:</strong>
    <%= @stay.d_time %>

  </p>


  <%= link_to 'Edit',  edit_clerk_stay_path(@stay) ,class: "btn btn-outline-dark"%> 
  <%= link_to 'Back', clerk_stays_path ,class: "btn btn-outline-dark"%>
</div>
