<div class="col-md-5 offset-md-5">

  <%= form_for [:clerk, @bed] do |form| %>
    
    <% if bed.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bed.errors.count, "error") %> prohibited this bed from being saved:</h2>

        <ul>
        <% bed.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :beds %>
      <%= form.number_field :beds  %>

    </div>

    <div>
      <%= form.label :WARD %>
      <%= form.select :ward_id, Ward.all.collect { |d| [ d.wards_name, d.id ] }, include_blank: true %>

    </div>
    



   <div class="actions">
      <%= form.submit %>
    </div>

  <% end %>
</div>
