<p id="notice"><%= notice %></p>
<div class="sp1">

  <h1 class="table-dark col-md-4 offset-md-4 text-center">BILLS</h1>
  <div class="col-md-5">
    <br>
        <%= link_to 'New bill', new_clerk_bill_path , class: "btn btn-outline-dark btn-lg "%>
    <br>
  </div>
  <h2 class="text-center">HERE IS ALL THE LIST OF THE RECORDS OF BILLS</h2>

   <table class="table table-striped table-dark table-hover text-center col-md-10 offset-md-1">
    <tr>
      <th>#</th>
      <th>PATIENT</th>
      <th>DOCTOR</th>
      <th>DEPARTMENT</th>
      <th>WARD</th>
      <th>ADMISSION_TIME</th>
      <th>DISCHARGE_TIME</th> 
      <th>BILL</th>     
      <th colspan="3">FUNCTIONS</th>

    </tr>
   
    <% @bill.each do |bill| %>
      <tr>
        <td><%= bill.id %></td>
        <td><%= bill.stay.patient.name %></td>
        <td><%= bill.stay.doctor.name %></td>
        <td><%= bill.stay.ward.department.name %></td>
        <td><%= bill.stay.ward.wards_name %></td>
        <td><%= bill.stay.a_time %></td>
        <td><%= bill.stay.d_time %></td>
        <td><%= bill.bill %></td>
         <td><%= link_to 'Show', clerk_bill_path(bill), method: :GET %></td>
          <td><%= link_to 'Edit', edit_clerk_bill_path(bill) %></td>
          <td><%= link_to 'Destroy', clerk_bill_path(bill), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </table>
  <br>
 <div class="row text-center ">  
    <div class="col-md-1"> 
      <%= link_to 'BACK', welcome_index_path , class: "btn btn-outline-dark btn-lg "%>
    </div>
  </div>
</div>
