<div class="col-md-5 offset-md-5">

  <%= form_for [:clerk, @room] do |form| %>
    
    <% if room.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

        <ul>
        <% room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :room %>
      <%= form.select :room,['001F','002F','003F','004F','005F']  %>

    </div>




   <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
