<p id="notice"><%= notice %></p>
<div class="sp1">

  <h1 class="table-dark col-md-4 offset-md-4 text-center">Staffs</h1>
  <div class="col-md-5">  
    <h5 class="table-dark col-md-9">LOGGIN CLERK : <%= current_clerk.email%></h5> 
    <br>
      <%= link_to 'New staff', new_clerk_staff_path , class: "btn btn-outline-dark btn-lg " %>
    <br>
  </div>
  <h2 class="text-center">HERE IS ALL THE LIST OF THE RECORDS OF STAFFS</h2>


   
   <table class="table table-striped table-dark table-hover text-center col-md-10 offset-md-1">
    <tr>
      <th>#</th>
      <th>NAME</th>
      <th>TIME</th>
      <th>AGE</th>
      <th>DUTY</th>
      <th>FLOOR</th>
      <th>DEPARTMENT</th>
      <th>WARD</th>
      <th colspan="3">FUNCTIONS</th>
    </tr>
   
    <% @staff.each do |staff| %>
      <tr>
        <td><%= staff.id %></td>
        <td><%= staff.name %></td>
        <td><%= staff.time %></td>
        <td><%= staff.age %></td>
        <td><%= staff.duty %></td>
        <td><%= staff.floor %></td>
        <td><%= staff.ward.department.name %></td>
        <td><%= staff.ward.wards_name %></td>
        <td><%= link_to 'Show', clerk_staff_path(staff), method: :GET %></td>
          <td><%= link_to 'Edit', edit_clerk_staff_path(staff) %></td>
          <td><%= link_to 'Destroy', clerk_staff_path(staff), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <br>

  <div class="row text-center ">  
      <div class="col-md-1">  
        <%= link_to 'Back', welcome_index_path, class: "btn btn-outline-dark btn-lg" %> 
      </div>
          <div class="col-md-1">  
          <% if clerk_signed_in? %>
            <%= link_to('Logout', destroy_clerk_session_path, method: :delete ,class: "btn btn-outline-dark btn-lg") %> 
          <% else %>
            <li>
            <%= link_to('Login', new_clerk_session_path ,class: "btn btn-outline-dark btn-lg") %>  
            </li>
          <% end %>
        </div> 
      </div>
</div>
