<p id="notice"><%= notice %></p>

<h3 class="table-dark col-md-4 offset-md-4 text-center">DATA</h3><br>
<div class="col-md-5 offset-md-5">

  <p>
    <strong>Name:</strong>
    <%= @staff.name %>
  </p>
   
  <p>
    <strong>TIME:</strong>
    <%= @staff.time %>

  </p>

  <p>
    <strong>Age:</strong>
    <%= @staff.age %>

  </p>

  <p>
    <strong>Duty:</strong>
    <%= @staff.duty %>

  </p>

  <p>
    <strong>Floor:</strong>
    <%= @staff.floor %>

  </p>

  <%= link_to 'Edit', edit_clerk_staff_path(@staff) ,class: "btn btn-outline-dark "%> 
  <%= link_to 'Back', clerk_staffs_path ,class: "btn btn-outline-dark "%>
</div>
